<!--Injections-->
        @using Microsoft.AspNetCore.Http
        @inject IHttpContextAccessor HttpContextAccessor
        @using System.Collections

@{
    var roleID = HttpContextAccessor.HttpContext.Session.GetInt32("RoleID");
    var roleNames = new Hashtable
        {
            { 1, "Administrator" },
            { 3, "Ward Admin" }

        };

    var roleName = roleID.HasValue && roleNames.ContainsKey(roleID.Value) ? roleNames[roleID.Value] : "Guest";

}




@model DataAccesslayer.Models.Domains.Administrator.User

@if (roleName.ToString() == "Ward Admin")
{
    {
        ViewData["Title"] = "Doctor's Details";
    }
    <h1 class="display-5 text-center bold">Doctor's Details</h1>

}
@if (roleName.ToString() == "Administrator" )
{
        {
        ViewData["Title"] = "Employee Details";
    }
    <h1 class="display-5 text-center bold">Employee's Details</h1>

}



<hr />
<div class="row">
    <div class="col-md-8 mx-auto rounded border p-3">
        <div class="row mb-3">
            <label class="col-sm-4 col-form-label">User Identity</label>
            <div class="col-sm-8">
                <input value=" @Model.UserID" class="form-control-plaintext" readonly />
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-4 col-form-label">First Name</label>
            <div class="col-sm-8">
                <input value="@Model.FirstName" class="form-control" readonly />
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Last Name</label>
            <div class="col-sm-8">
                <input value="@Model.LastName" class="form-control" readonly />
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Identity Number</label>
            <div class="col-sm-8">
                <input value="@Model.IDNumber" class="form-control" readonly />
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Date Of Birth</label>
            <div class="col-sm-8">
                <input value="@Model.DateOfBirth.ToString("MM-dd-yyyy")" class="form-control" readonly />
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Gender</label>
            <div class="col-sm-8">
                <input value="@Model.Gender" class="form-control" readonly />
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Phone Numbers</label>
            <div class="col-sm-8">
                <input value="@Model.PhoneNumbers" class="form-control" readonly />
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Email Address</label>
            <div class="col-sm-8">
                <input value="@Model.Email" class="form-control" readonly />
            </div>
        </div>        
        <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Residential Address</label>
            <div class="col-sm-8">
                <input value="@Model.ResidentialAddress" class="form-control" readonly />
            </div>
        </div>
        <div class="row">
            @if (roleName.ToString() == "Ward Admin")
            {
                <div class="offset-sm-4 col-sm-4 d-grid">
                    <a asp-controller="WardAdministrator" asp-action="Index" class="btn btn-info"><i class="bi bi-arrow-left"></i> Back to List</a>
                </div>
            }
            @if (roleName.ToString() == "Administrator")
            {
                <div class="offset-sm-4 col-sm-4 d-grid">
                    <a  asp-action="Index" class="btn btn-info"><i class="bi bi-arrow-left"></i> Back to List</a>
                </div>
                <div class="col-sm-4 d-grid">
                    <a class="btn btn-outline-warning" asp-action="UpdateEmployee" asp-route-id="@Model.UserID"><i class="bi bi-pen"></i> Update</a>
                </div>
            }           
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
