@model dynamic;
@{
    ViewData["Title"] = "Refer Patient";
}

<h1 class="display-5 text-center bold">Retrieve Patient Referral</h1>

<hr />
@if (TempData["SuccessAlert"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@TempData["SuccessAlert"]</strong>Successfully! 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
else if (TempData["ErrorAlert"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>@TempData["ErrorAlert"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<div class="row">
    <div class="col-md-8 mx-auto rounded border p-3">
        <form asp-action="RetrieveReferral" class="mt-4 " method="post">
            <input type="hidden" name="UserID" value="@Model.UserID" />

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">User Identity</label>
                <div class="col-sm-8">
                    <input value=" @Model.UserID" class="form-control-plaintext" readonly />
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">First Name</label>
                <div class="col-sm-8">
                    <input value="@Model.FirstName" class="form-control" readonly />
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Last Name</label>
                <div class="col-sm-8">
                    <input value="@Model.LastName" class="form-control" readonly />
                </div>

            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Identity Number</label>
                <div class="col-sm-8">
                    <input value="@Model.IDNumber" class="form-control" readonly />
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Date Of Birth</label>
                <div class="col-sm-8">
                    <input value="@Model.DateOfBirth.ToString("MM-dd-yyyy")" class="form-control" readonly />
                </div>

            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Gender</label>
                <div class="col-sm-8">
                    <input value="@Model.Gender" class="form-control" readonly />
                </div>

            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Phone Numbers</label>
                <div class="col-sm-8">
                    <input value="@Model.PhoneNumbers" class="form-control" readonly />
                </div>

            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Email Address</label>
                <div class="col-sm-8">
                    <input value="@Model.Email" class="form-control" readonly />
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Residential Address</label>
                <div class="col-sm-8">
                    <input value="@Model.ResidentialAddress" class="form-control" readonly />
                </div>
            </div>
            <div class="row">
                <div class="offset-sm-4 col-sm-4 d-grid">
                    <button type="submit" class="btn btn-primary"><i class="bi bi-arrow-clockwise"></i> Retrieve</button>
                </div>
                <div class="col-sm-4 d-grid">
                    <a class="btn btn-outline-danger" asp-action="ListRemovedReferral"><i class="bi bi-x-lg"></i> Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

