@model IEnumerable<DataAccesslayer.Models.View_Models.Nurse.VMPatientVitals>

@{
    ViewData["Title"] = "Patients Vitals";
}



<h1 class="display-5 text-center bold">List of Patients With Recorded Vitals</h1>
<hr />




<div class="card">
    

    <!-- /.card-header -->
    <div class="card-body">
        <table id="table1" class="table table-bordered table-striped">

            <thead>
                <tr>
                       <th>Patient Name</th>
                       <th>Total Vitals Recorded</th>
                       <th>Recent Date Recorded </th>
                       <th>Recorded By </th>
                    <th>Action</th>
                    <th>Action</th>

            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.PatientName</td>
                        <td>@item.TotalVitalsRecorded</td>
                        <td>@item.LastVitalRecordedDate.ToString("dd MMMM yyyy")&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@item.LastVitalRecordedDate.ToString("hh:mm tt")</td>
                        <td>Nurse - @item.NurseName</td>

                        <td>
                            <a asp-action="ViewPatientVitalsDetails" asp-route-id="@item.FileID" class="btn btn-info"> <i class="fa fa-file"></i> View Details</a>
                            </td>
                            <td>
                            
                            <a asp-action="AddPatientVitals" asp-route-id="@item.FileID" class="btn btn-primary"> <i class="fa fa-file"></i> Record Vitals</a>

                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<br />

<div>
    <a href="@Url.Action("Index", "Nurse", new { })" class="btn btn-outline-primary"><i class="bi bi-arrow-left"></i>Home</a>
</div>
